{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Prevent scrolling since this is a single screen page */
    html, body {
      margin: 0; 
      height: 100%; 
      overflow: hidden;

      /* Set this so loading images won't show white by default. */
      /* NOTE: This should match the primary color. */
      background-color: #41ACC9;
    }

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    .md-hero-background {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }

    /* NOTE: Important to override dimensions applied by typeset */
    .md-hero-background-image {
      width: 100vw !important;
      height: 100vh !important;
      object-fit: cover;
      z-index: -1;
    }

    .md-hero-quickstart-box {
      position: absolute;
      left: 5em;
      bottom: 5em;
      max-width: 16rem;
    }

    .md-hero-quickstart-box h1 {
      color: white;
      font-weight: 700 !important;
      margin-bottom: 0;
      letter-spacing: -0.01em;
      text-shadow: 0 0 0.2rem #211d2dcc;
    }

    .md-hero-quickstart-box p {
      color: white;
      text-shadow: 0 0 0.2rem #211d2dcc;
    }

    /* Center quickstart box */
    @media screen and (max-width: 30em) {
      .md-hero-quickstart-box {
        left: 1em;
        right: 1em;
        bottom: 2em;
        max-width: unset;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        margin: 1em;
      }
    }
  </style>

  <section class="mdx-container">
    <div class="md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image md-hero-background">
          <picture>
            <source srcset="assets/images/hero.avif" type="image/avif">
            <source srcset="assets/images/hero.webp" type="image/webp">
            <img
              class="md-hero-background-image"
              src="assets/images/hero.png"
              alt=""
              draggable="false"
            >
          </picture>
        </div>
        <div class="mdx-hero__content md-hero-quickstart-box">
          <h1>Work from a distance</h1>
          <p>{{ config.site_description }}. Deploy distant on your server and connect today to begin remote work!</p>
          <a
            href="{{ page.next_page.url | url }}"
            title="{{ page.next_page.title | e }}"
            class="md-button md-button--primary"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
