.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  /* background-color: white; */
  background-color: rgb(176, 204, 195);
  color: #4a4a4a;
  font-size: .875em;
  font-family: monospace;
}

.content code {
  /* background-color: white; */
  background-color: rgb(176, 204, 195);
  color: #4a4a4a;
  font-size: .875em;
  font-weight: normal;
  /* padding: 0.25em 0.5em; */
  padding: 0.125em;
  font-family: monospace;
}

/*.content pre code {
  padding: 0;
}*/

.content pre>code, .content h2>code {
  background-color: unset;
}

.content a {
  color: var(--primary-link-color);

  &:hover {
    text-decoration: underline;
  }
}

.content blockquote {
  border-left: #e2dede 8px solid;
  margin: 0;
  /* background-color: #f2f1f0; */
  background-color: #ececec;
  padding: 0 20px;
}
