<style>
    :root {
        /* Primary theme background, text, and link color */
        --primary-color: #43b4ff;
        /* --primary-text-color: #2c3e50; */
        --primary-text-color: #000000;
        --primary-link-color: #16a085;

        /* Secondary theme background and text color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #2c3e50;

        /* Highlight text color of table of content */
        --toc-highlight-text-color: #8e44ad;

        /* Color for inline code blocks */
        --inline-code-block-background-color: #43b4ff;
        --inline-code-block-text-color: #ffffff;
    }
</style>
