{% import "_macros.html" as macros %}
{% set section = get_section(path="documentation/_index.md") %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta property="og:title" content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}" />
    <meta property="og:image" content="{{ get_url(path="og_distant_logo.png") | safe }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% endblock favicon %}
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="distant.css") }}">
    {% block head %}
    <meta property="og:description" content="Distant's official website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ get_url(path="@/_index.md") | safe }}" />
    {% endblock head %}
</head>

<body>
    {% block header %}
    <header class="box-shadow">
        {{ macros::render_header() }}
    </header>
    {% endblock header %}

    <main>
        {% block toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for page in section.pages %}
                <div class="toc-item">
                    <a class="subtext" href="{{page.permalink | safe}}">{{ page.title }}</a>
                </div>
                {% if page.toc %}
                {% for h in page.toc %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h.permalink | safe}}"><small>- {{ h.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endblock toc %}

        <div class="content text documentation">
            {% block content %}
            <h1>{{ page.title }}<br/><span class="subtitle-date">{{ page.date }}</span></h1>
            {{ page.content | safe }}
            {% endblock content %}
        </div>
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            Theme derived from <a href="https://github.com/huhu/distant">Juice</a><br />
            Website by <a href="https://chipsenkbeil.com">Chip Senkbeil</a> © 2023
        </small>
    </footer>
    {% endblock footer %}
</body>
<script>
    const scrollHandler = entries => {
        // Find the first entry which intersecting and ratio > 0.9 to highlight.
        let entry = entries.find(entry => {
            return entry.isIntersecting && entry.intersectionRatio > 0.9;
        });
        if (!entry) return;

        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });

        // let url = new URL(`#${entry.target.id}`);
        let link = document.querySelector(`.toc a[href$="${decodeURIComponent(`#${entry.target.id}`)}"]`)
        if (link) {
            link.classList.add("active");
            link.scrollIntoView({ behavior: "auto", block: "nearest" });
        }
    };
    // Set -100px root margin to improve highlight experience.
    const observer = new IntersectionObserver(scrollHandler, { threshold: 1 });
    let items = document.querySelectorAll('h1,h2,h3,h4,h5,h6');
    items.forEach(item => observer.observe(item));
</script>

</html>
